<h1>Sign-up Form</h1>

<%= form_for :user, url: '/users' do |t| %>

  <div class="form-group">

    <%= t.label(:first_name, "first_name:") %>

    <%= t.text_field :first_name , class: "form-control", placeholder: "First name"%>
  
  </div>

  <div class="form-group">

    <%= t.label(:last_name, "last_name:") %>

    <%= t.text_field :last_name , class: "form-control", placeholder: "Last name"%>
  
  </div>
  
  <div class="form-group">
  
    <%= t.label(:email, "Email:") %>
  
    <%= t.text_field :email , class: "form-control", placeholder: "Email"%>
  
  </div>
  
  <div class="form-group">
  
    <%= t.label(:password, "Password:") %>
  
    <%= t.password_field :password , class: "form-control", placeholder: "Password"%>
  
  </div>
   <div class="form-group">

    <%= t.label(:password_confirmation, "Password:") %>

    <%= t.password_field :password_confirmation, class: "form-control", placeholder: "Re-Enter Password"%>
  
  </div>
  
  <%= t.submit "Submit" %>

<% end %>